body {
  height: 50vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  width: 20vmin;
  color: aqua;
  pointer-events: none;
  text-align: left;
  animation: App-logo-spin infinite 20s linear;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: aqua;
}

.App-link {
  color: #61dafb;
}

#test {
  text-align: left;
}
.App-body {
  height: 500px;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-radius: 20px;
  border-width: 10px;
  border-color: #282c34;

}

.weather {
  padding: 5px;
  font-size: 16px;
}

th {
  width: 250px;
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  th {
    width: 150px;
    font-size: 12px;
  }.weather {
    padding: 2px;
    font-size: 10px;
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
